* {
  text-align: center;
}

.contenedor {
  align-items: center;
  justify-items: center;
  width: 500px;
  margin: auto;
}

.relleno {
    display: flex;
    flex-wrap: wrap;
}

.col_50 {
    flex: 50%; 
    box-sizing: border-box; 
    padding: 10px; 
}
.campos {
    width: 100%;
    padding: 8px; 
    box-sizing: border-box;
}

.btn {
    flex: 100%; 
    padding: 10px;
    color: white;
    background-color: green;
}
