* {
  text-align: center;
  font-size: 25px;
}
h2 {
  color: red;
}
.tabla{
  margin: auto;
  border-collapse: collapse;
}
.tabla tr{
  border: 3px solid black;
}
.tabla td{
  border: 3px solid black;
  padding: 8px 20px;
}
.azul {
  background-color: #1E90B2;
}
.amarillo{
  background-color: yellow;
}
.verde{
  background-color: #17DF19;
}
.naranja{
  background-color: orange;
}
